
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #00FFFF;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    background-color: white;
    color: rgb(89, 168, 233);
    text-align: center;
    padding: 20px;
    font-size: 20px; 
}

footer {
    background-color: #00FFFF;
    color: white;
    text-align: center;
    padding: 10px;
}


@font-face {
    font-family: 'DNF Forged Blade'; 
    src: url('DNF_FORGED_BLADE.ttf') format('truetype'); 
}


body {
    font-family: 'DNF Forged Blade', sans-serif; 
}

.mainText {
    text-align: center; 
    font-size: 32px; 
    margin: 0; 
    padding: 20px; 
}

.subText {
    text-align: center; 
    font-size: 28px; 
    margin: 0; 
    padding: 10px; 
}

.subsubText {
    text-align: center; 
    font-size: 24px; 
    margin: 0; 
    padding: 0px; 
}

.normalText {
    text-align: center; 
    font-size: 20px; 
    margin: 0; 
    padding: 0px; 
}

.smallText {
    text-align: center; 
    font-size: 12px; 
    margin: 0; 
    padding: 0px; 
}

.separator {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    position: relative; 
}

.separator-text {
    background-color: white; 
    padding: 0 10px; 
}

.separator::after {
    content: ""; 
    display: block; 
    height: 1px; 
    background-color: #1d8aff; 
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%) translateX(10%);
    width: 80%;
}

.myPictureClass {
    width: 200px; /
    height: auto; 
}

.resumeClass {
    width: 22.22%;
    height: auto; 
}

.videoClass {
    width: 40%;
    max-width: 600px;
    height: auto; 
}

.digipenLogo{
    vertical-align: middle; 
    width: 64px;
    height: auto; 
}